SERVER_URL=localhost
SERVER_NAME=GlobalServer
SERVER_PORT=8080
GIN_MODE=debug

JWT_SECRET=Scibidi_toilet
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=твой_юзернейм
POSTGRES_PASSWORD=твой_пассворд
POSTGRES_DATABASE=analogyoutube

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
